In [53]:
import pandas as pd 
import numpy as np

In [54]:
df=pd.read_csv('C:\workspace\Credit-Risk-Modeling\dataset\credit_risk_dataset.csv')

In [55]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

- dataset seems to be inbalance.

In [56]:
df['loan_status'].value_counts(normalize=True)

loan_status
0    0.781836
1    0.218164
Name: proportion, dtype: float64

In [57]:
df['cb_person_default_on_file'].value_counts(normalize=True)

cb_person_default_on_file
N    0.82367
Y    0.17633
Name: proportion, dtype: float64

In [58]:
cat_features=['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file']
num_features=['person_age', 'person_income', 'person_emp_length', 'loan_grade', 'loan_amnt',
       'loan_int_rate','loan_percent_income','cb_person_cred_hist_length']

In [59]:
df.columns

Index(['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length'],
      dtype='object')

In [60]:
df[num_features]

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,22,59000,123.0,D,35000,16.02,0.59,3
1,21,9600,5.0,B,1000,11.14,0.10,2
2,25,9600,1.0,C,5500,12.87,0.57,3
3,23,65500,4.0,C,35000,15.23,0.53,2
4,24,54400,8.0,C,35000,14.27,0.55,4
...,...,...,...,...,...,...,...,...
32576,57,53000,1.0,C,5800,13.16,0.11,30
32577,54,120000,4.0,A,17625,7.49,0.15,19
32578,65,76000,3.0,B,35000,10.99,0.46,28
32579,56,150000,5.0,B,15000,11.48,0.10,26
32580,66,42000,2.0,B,6475,9.99,0.15,30

In [61]:
df[cat_features]

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
0,RENT,PERSONAL,D,Y
1,OWN,EDUCATION,B,N
2,MORTGAGE,MEDICAL,C,N
3,RENT,MEDICAL,C,N
4,RENT,MEDICAL,C,Y
...,...,...,...,...
32576,MORTGAGE,PERSONAL,C,N
32577,MORTGAGE,PERSONAL,A,N
32578,RENT,HOMEIMPROVEMENT,B,N
32579,MORTGAGE,PERSONAL,B,N
32580,RENT,MEDICAL,B,N

In [62]:
df['person_home_ownership'].value_counts()

person_home_ownership
RENT        16446
MORTGAGE    13444
OWN          2584
OTHER         107
Name: count, dtype: int64

In [63]:
df['loan_intent'].value_counts()

loan_intent
EDUCATION            6453
MEDICAL              6071
VENTURE              5719
PERSONAL             5521
DEBTCONSOLIDATION    5212
HOMEIMPROVEMENT      3605
Name: count, dtype: int64

In [64]:
df['loan_grade'].value_counts()

loan_grade
A    10777
B    10451
C     6458
D     3626
E      964
F      241
G       64
Name: count, dtype: int64

In [65]:
target='loan_status'
df[target]=df[target].astype('category')

In [66]:
from sklearn.preprocessing import OneHotEncoder,PowerTransformer,LabelEncoder
from sklearn.model_selection import train_test_split

array([1, 0, 1, ..., 1, 0, 0], dtype=int64)

In [70]:
train_df,test_df=train_test_split(df,random_state=123,stratify=np.array(df[target]))

In [52]:
df[target].astype('category').value_counts()

loan_status
0    25473
1     7108
Name: count, dtype: int64

In [26]:
test_df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
8293,26,57000,MORTGAGE,4.0,EDUCATION,C,12000,13.49,0,0.21,Y,2
18272,30,72000,RENT,2.0,EDUCATION,B,23000,12.18,1,0.32,N,6
23486,27,51000,RENT,1.0,HOMEIMPROVEMENT,B,8400,10.71,0,0.16,N,5
15150,23,124800,MORTGAGE,4.0,MEDICAL,B,28000,NaN,0,0.22,N,2
8563,22,19800,RENT,4.0,MEDICAL,A,8000,NaN,1,0.40,N,4
...,...,...,...,...,...,...,...,...,...,...,...,...
20498,27,40700,MORTGAGE,8.0,EDUCATION,D,20400,NaN,0,0.50,N,8
25389,32,63000,RENT,4.0,VENTURE,A,12000,6.62,0,0.19,N,10
31245,43,83000,MORTGAGE,13.0,HOMEIMPROVEMENT,B,3000,9.91,0,0.04,N,17
16701,22,48000,MORTGAGE,6.0,MEDICAL,A,5000,7.88,0,0.10,N,2
961,24,55000,RENT,4.0,EDUCATION,B,18200,10.99,1,0.33,N,2