# Loan Data 

## Section 1: Preprocessing

- Extacting data.

- Overviewing target variable(`loan_status` column).

- Identifying a missing dataset.

- Identifying categorical and continuous dataset.

In [63]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [64]:
df=pd.read_csv('C:\workspace\Credit-Risk-Modeling\dataset\loan_data_2007_2014\loan_data_2007_2014.csv',low_memory=False,index_col=[0])

In [65]:
pd.set_option('display.max_columns', None)

In [66]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Eliminating useless features

In [67]:
df.shape

(466285, 74)

In [68]:
df['initial_list_status'].value_counts()

initial_list_status
f    303005
w    163280
Name: count, dtype: int64

In [69]:
df['next_pymnt_d'].isna().value_counts()

next_pymnt_d
False    239071
True     227214
Name: count, dtype: int64

In [70]:
df['policy_code'].value_counts()

policy_code
1    466285
Name: count, dtype: int64

In [71]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [72]:
eliminated_feature=['id', 'member_id','grade', 'sub_grade', 'emp_title','pymnt_plan', 'url','desc', 'purpose',
       'title','policy_code','addr_state']
df.drop(eliminated_feature,axis=1,inplace=True)

### Eliminating columns with too many missing values

In [73]:
df.shape

(466285, 62)

In [74]:
missing_features_list=[]
for i in df.columns:
    if df[i].isna().any()==True:
        a=df[i].isna().sum()/len(df)
        if a>=0.1:
            missing_features_list.append(i)
        #print((i,df[i].isna().sum()/len(df)))

#df=df.drop(missing_features_list,axis=1,inplace=True)

In [75]:
df.drop(missing_features_list,axis=1,inplace=True)

In [76]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,zip_code,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
0,5000,5000,4975.0,36 months,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,860xx,27.65,0.0,Jan-85,1.0,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,Jan-16,0.0,INDIVIDUAL,0.0
1,2500,2500,2500.0,60 months,15.27,59.83,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,309xx,1.00,0.0,Apr-99,5.0,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,INDIVIDUAL,0.0
2,2400,2400,2400.0,36 months,15.96,84.33,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,606xx,8.72,0.0,Nov-01,2.0,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,Jan-16,0.0,INDIVIDUAL,0.0
3,10000,10000,10000.0,36 months,13.49,339.31,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,917xx,20.00,0.0,Feb-96,1.0,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,Jan-15,0.0,INDIVIDUAL,0.0
4,3000,3000,3000.0,60 months,12.69,67.79,1 year,RENT,80000.0,Source Verified,Dec-11,Current,972xx,17.94,0.0,Jan-96,0.0,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Jan-16,0.0,INDIVIDUAL,0.0

In [77]:
df['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

### target variable preparation

In [78]:
df['loan_status'].value_counts()

loan_status
Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: count, dtype: int64

In [79]:
df['loan_status'] = np.where(df['loan_status'].isin(['Charged Off', 'Default',
                                                               'Does not meet the credit policy. Status:Charged Off',
                                                               'Late (31-120 days)']), 0, 1)

In [80]:
df['loan_status'].value_counts(normalize=True)

loan_status
1    0.890693
0    0.109307
Name: proportion, dtype: float64

### datetime columns
- `issue_d`, `earliest_cr_line`, `last_pymnt_d` and `last_credit_pull_d`  are considered to be a datetime.

-  `make_date` dataset.
"

In [81]:
dateTime=['issue_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']

In [82]:
def make_date(df,col_name_list):
    df_timeDate=pd.DataFrame()
    for col_name in dateTime:
        df2=pd.DataFrame(columns=[col_name+'_year'],index=df.index)
        for i in df.index:
            try:
                month,year=df.loc[i,col_name].split('-')
                df2.loc[i,col_name+'_year']=year
                #df2.loc[i,col_name+'_month']=month
            except :
                '''error'''
        df_timeDate=pd.concat([df_timeDate,df2],axis=1)
    return df_timeDate

In [83]:
df.loc[[42480]]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,zip_code,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
42480,6700,6700,6700.0,36 months,7.75,209.18,< 1 year,NONE,NaN,Not Verified,Jul-07,1,100xx,1.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,7530.42,7530.42,6700.0,830.42,0.0,0.0,0.0,Jul-10,209.89,May-07,NaN,INDIVIDUAL,NaN

In [84]:
df_timeDate=make_date(df,dateTime)

In [85]:
df_timeDate

,issue_d_year,earliest_cr_line_year,last_pymnt_d_year,last_credit_pull_d_year
0,11,85,15,16
1,11,99,13,13
2,11,01,14,16
3,11,96,15,15
4,11,96,16,16
...,...,...,...,...
466280,14,03,16,16
466281,14,97,14,16
466282,14,01,16,15
466283,14,03,14,15
466284,14,00,16,16

### Handling Categorical Data

In [86]:
def cross_tab_maker(x):
    cross_temp=pd.crosstab(df['loan_status'],df[x])
    for i in cross_temp.columns:
        cross_temp[i]=cross_temp[i]/cross_temp[i].sum()
    return cross_temp

In [87]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,zip_code,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
0,5000,5000,4975.0,36 months,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-11,1,860xx,27.65,0.0,Jan-85,1.0,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,Jan-16,0.0,INDIVIDUAL,0.0
1,2500,2500,2500.0,60 months,15.27,59.83,< 1 year,RENT,30000.0,Source Verified,Dec-11,0,309xx,1.00,0.0,Apr-99,5.0,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,INDIVIDUAL,0.0
2,2400,2400,2400.0,36 months,15.96,84.33,10+ years,RENT,12252.0,Not Verified,Dec-11,1,606xx,8.72,0.0,Nov-01,2.0,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,Jan-16,0.0,INDIVIDUAL,0.0
3,10000,10000,10000.0,36 months,13.49,339.31,10+ years,RENT,49200.0,Source Verified,Dec-11,1,917xx,20.00,0.0,Feb-96,1.0,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,Jan-15,0.0,INDIVIDUAL,0.0
4,3000,3000,3000.0,60 months,12.69,67.79,1 year,RENT,80000.0,Source Verified,Dec-11,1,972xx,17.94,0.0,Jan-96,0.0,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Jan-16,0.0,INDIVIDUAL,0.0

In [88]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'zip_code', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'application_type', 'acc_now_delinq'],
      dtype='object')

In [89]:
category_feature=['term', 'emp_length', 'home_ownership','verification_status','initial_list_status','application_type']
df[category_feature]

,term,emp_length,home_ownership,verification_status,initial_list_status,application_type
0,36 months,10+ years,RENT,Verified,f,INDIVIDUAL
1,60 months,< 1 year,RENT,Source Verified,f,INDIVIDUAL
2,36 months,10+ years,RENT,Not Verified,f,INDIVIDUAL
3,36 months,10+ years,RENT,Source Verified,f,INDIVIDUAL
4,60 months,1 year,RENT,Source Verified,f,INDIVIDUAL
...,...,...,...,...,...,...
466280,60 months,4 years,MORTGAGE,Source Verified,w,INDIVIDUAL
466281,60 months,10+ years,MORTGAGE,Verified,f,INDIVIDUAL
466282,60 months,7 years,MORTGAGE,Verified,f,INDIVIDUAL
466283,36 months,3 years,OWN,Verified,w,INDIVIDUAL
466284,36 months,10+ years,MORTGAGE,Verified,f,INDIVIDUAL

In [90]:
df[category_feature].isna().any()

term                   False
emp_length              True
home_ownership         False
verification_status    False
initial_list_status    False
application_type       False
dtype: bool

In [91]:
df[category_feature].isna().sum()

term                       0
emp_length             21008
home_ownership             0
verification_status        0
initial_list_status        0
application_type           0
dtype: int64

#### Prepocessing `term`

- months are eliminated.

In [92]:
df['term']=df['term'].str.replace(' months','')
df['term']=df['term'].astype(int)

In [93]:
cross_tab_maker('term')

term               36        60
loan_status
0            0.097085  0.141492
1            0.902915  0.858508

#### Preprocessing `emp_length`

- First, we need to handle missing data in `emp_length`.

- missing `emp_length` are replaced with zero

In [94]:
df[df['emp_length'].isna()==True]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,zip_code,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,application_type,acc_now_delinq
168,2500,2500,2500.0,36,7.51,77.78,NaN,OWN,12000.0,Source Verified,Dec-11,0,961xx,16.30,0.0,Aug-94,2.0,13.0,0.0,4853,42.2,20.0,f,0.0,0.0,1838.880000,1838.88,1575.06,253.74,0.0,10.08,0.0000,Dec-13,77.78,Jan-16,0.0,INDIVIDUAL,0.0
323,18000,18000,18000.0,60,17.58,452.98,NaN,MORTGAGE,60000.0,Verified,Dec-11,1,363xx,21.96,0.0,Mar-03,1.0,11.0,0.0,5945,83.7,28.0,f,0.0,0.0,26369.525520,26369.53,18000.00,8369.53,0.0,0.00,0.0000,Sep-15,6909.59,Sep-15,0.0,INDIVIDUAL,0.0
394,4000,4000,4000.0,36,11.71,132.31,NaN,RENT,24000.0,Source Verified,Dec-11,1,328xx,7.50,1.0,Feb-05,0.0,4.0,0.0,1593,54.9,6.0,f,0.0,0.0,4185.930000,4185.93,4000.00,185.93,0.0,0.00,0.0000,May-12,3658.15,May-12,0.0,INDIVIDUAL,0.0
422,1000,1000,1000.0,36,14.65,34.50,NaN,RENT,18408.0,Not Verified,Dec-11,0,080xx,6.00,0.0,Apr-93,2.0,3.0,1.0,2510,83.7,8.0,f,0.0,0.0,91.310000,91.31,22.24,12.18,0.0,56.89,10.2402,Jan-12,34.50,Jun-12,0.0,INDIVIDUAL,0.0
439,8250,8250,8250.0,36,7.51,256.67,NaN,MORTGAGE,31500.0,Verified,Dec-11,1,218xx,17.87,0.0,Dec-81,4.0,17.0,0.0,7521,10.4,37.0,f,0.0,0.0,9236.369059,9236.37,8250.00,986.37,0.0,0.00,0.0000,Dec-14,278.92,Dec-14,0.0,INDIVIDUAL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466254,6000,6000,6000.0,60,23.40,170.53,NaN,MORTGAGE,45600.0,Source Verified,Jan-14,0,317xx,1.50,1.0,Jan-84,0.0,3.0,0.0,1199,14.6,13.0,f,0.0,0.0,511.490000,511.49,163.71,347.78,0.0,0.00,0.0000,Apr-14,170.53,Jan-16,0.0,INDIVIDUAL,0.0
466256,15000,15000,15000.0,36,16.99,534.72,NaN,RENT,50000.0,Source Verified,Jan-14,0,196xx,24.39,0.0,Apr-01,0.0,14.0,0.0,24551,83.8,34.0,f,0.0,0.0,5347.100000,5347.10,3436.71,1910.39,0.0,0.00,0.0000,Nov-14,534.72,Jan-16,0.0,INDIVIDUAL,0.0
466262,14000,14000,14000.0,36,16.24,493.86,NaN,MORTGAGE,68000.0,Verified,Jan-14,1,080xx,25.36,1.0,Feb-93,0.0,19.0,0.0,14145,58.0,47.0,f,0.0,0.0,16935.850130,16935.85,14000.00,2935.85,0.0,0.00,0.0000,Aug-15,8046.50,Jan-16,0.0,INDIVIDUAL,0.0
466265,32000,32000,31975.0,36,7.90,1001.29,NaN,MORTGAGE,128000.0,Source Verified,Jan-14,1,920xx,5.65,0.0,Jul-93,1.0,11.0,0.0,5400,17.5,35.0,f,0.0,0.0,34606.234310,34579.20,32000.00,2606.23,0.0,0.00,0.0000,Apr-15,20463.91,Dec-15,0.0,INDIVIDUAL,0.0
466273,6000,6000,6000.0,36,10.99,196.41,NaN,MORTGAGE,25000.0,Verified,Jan-14,1,484xx,12.05,0.0,May-90,1.0,16.0,1.0,4946,19.5,48.0,f,0.0,0.0,6865.246957,6865.25,6000.00,865.25,0.0,0.00,0.0000,Oct-15,2937.74,Oct-15,0.0,INDIVIDUAL,0.0

In [95]:
df['emp_length'].fillna('unknown',inplace=True)
df['emp_length'].value_counts()

emp_length
10+ years    150049
2 years       41373
3 years       36596
< 1 year      36265
5 years       30774
1 year        29622
4 years       28023
7 years       26180
6 years       26112
8 years       22395
unknown       21008
9 years       17888
Name: count, dtype: int64

In [96]:
cross_tab_maker('emp_length')

emp_length,1 year,10+ years,2 years,3 years,4 years,5 years,6 years,7 years,8 years,9 years,< 1 year,unknown
loan_status,,,,,,,,,,,,
0,0.111876,0.099647,0.109758,0.10952,0.109589,0.114967,0.117111,0.111345,0.110069,0.112086,0.118985,0.132616
1,0.888124,0.900353,0.890242,0.89048,0.890411,0.885033,0.882889,0.888655,0.889931,0.887914,0.881015,0.867384

#### `verification_status`

In [97]:
cross_tab_maker('verification_status')

verification_status  Not Verified  Source Verified  Verified
loan_status
0                        0.094079         0.104118  0.127369
1                        0.905921         0.895882  0.872631

#### `initial_list_status `

In [98]:
cross_tab_maker('initial_list_status')

initial_list_status         f        w
loan_status
0                    0.120308  0.08889
1                    0.879692  0.91111

#### `application_type`

In [99]:
cross_tab_maker('application_type')

application_type  INDIVIDUAL
loan_status
0                   0.109307
1                   0.890693

In [101]:
df['application_type'].value_counts()

application_type
INDIVIDUAL    466285
Name: count, dtype: int64

In [102]:
category_feature=['term', 'emp_length', 'home_ownership','verification_status','initial_list_status']
df.drop('application_type',axis=1,inplace=True)

In [103]:
df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,zip_code,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,acc_now_delinq
0,5000,5000,4975.0,36,10.65,162.87,10+ years,RENT,24000.0,Verified,Dec-11,1,860xx,27.65,0.0,Jan-85,1.0,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,Jan-16,0.0,0.0
1,2500,2500,2500.0,60,15.27,59.83,< 1 year,RENT,30000.0,Source Verified,Dec-11,0,309xx,1.00,0.0,Apr-99,5.0,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,0.0
2,2400,2400,2400.0,36,15.96,84.33,10+ years,RENT,12252.0,Not Verified,Dec-11,1,606xx,8.72,0.0,Nov-01,2.0,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,Jan-16,0.0,0.0
3,10000,10000,10000.0,36,13.49,339.31,10+ years,RENT,49200.0,Source Verified,Dec-11,1,917xx,20.00,0.0,Feb-96,1.0,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,Jan-15,0.0,0.0
4,3000,3000,3000.0,60,12.69,67.79,1 year,RENT,80000.0,Source Verified,Dec-11,1,972xx,17.94,0.0,Jan-96,0.0,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Jan-16,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,18400,18400,18400.0,60,14.47,432.64,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,1,773xx,19.85,0.0,Apr-03,2.0,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Jan-16,0.0,0.0
466281,22000,22000,22000.0,60,19.97,582.50,10+ years,MORTGAGE,78000.0,Verified,Jan-14,0,377xx,18.45,0.0,Jun-97,5.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,Jan-16,0.0,0.0
466282,20700,20700,20700.0,60,16.99,514.34,7 years,MORTGAGE,46000.0,Verified,Jan-14,1,458xx,25.65,0.0,Dec-01,2.0,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Dec-15,0.0,0.0
466283,2000,2000,2000.0,36,7.90,62.59,3 years,OWN,83000.0,Verified,Jan-14,1,913xx,5.39,3.0,Feb-03,1.0,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,Apr-15,0.0,0.0
466284,10000,10000,9975.0,36,19.20,367.58,10+ years,MORTGAGE,46000.0,Verified,Jan-14,1,950xx,22.78,1.0,Feb-00,0.0,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Jan-16,0.0,0.0